body {
  background: #222222;
  color: #ffff;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 80px auto;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
  background: black;
}

.error {
  color: #ff3f80;
  font-size: 14px;
}

button {
  text-decoration: none;
  background: #00ff00;;
  color: black;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
}